* {
    margin: 0px;
    padding: 0px;
}

/* --- ‘S‘Ì‚ÌBOX’è‹` ---------------------------------------- */
.box {
  position   : relative;
  width: 100vw;
  height: 100vh;
  margin     : auto;
  overflow   : hidden;
}

/* --- ƒƒjƒ…[ƒo[‚Ì’è‹` ------------------------------------ */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: right;
    border-left: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 50px;
    text-decoration: none;
    font-size: 20px;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
/*
.active {
    background-color: #da3c41;
}
*/
.menu {
    z-index: 2;
    position: relative;
}
a {
    text-shadow:0 0 10px #000;
}

/* --- ”wŒi‚Ìw’è ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;   /* 4‰æ‘œ ~ Še5s = 20s */
  background-size: cover;
  z-index: 1;
}

/* --- ’i·‚Å”wŒi‰æ‘œ‚ÌƒAƒjƒ[ƒVƒ‡ƒ“‚ğÀs ----------------- */
.box .image1 {
  background-image : url(./UI/img/bigben.jpg);   /* ”wŒi‚Ì‰æ‘œ‚ğw’è */
}
.box .image2 {
  background-image : url(./UI/img/bridge.jpg);   /* ”wŒi‚Ì‰æ‘œ‚ğw’è */
  animation-delay  : 5s;
}
.box .image3 {
  background-image : url(./UI/img/buckingham.jpg);   /* ”wŒi‚Ì‰æ‘œ‚ğw’è */
  animation-delay  : 10s;
}
.box .image4 {
  background-image : url(./UI/img/tower_bridge.jpg);   /* ”wŒi‚Ì‰æ‘œ‚ğw’è */
  animation-delay  : 15s;
}
.box .image5 {
  background-image : url(./UI/img/westminster.jpg);   /* ”wŒi‚Ì‰æ‘œ‚ğw’è */
  animation-delay  : 20s;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}